.customContainer {
  border-color: var(--c-container-border);
  background-color: var(--c-container-bg);
  border-width: 1px;
  border-style: solid;
  padding: .1rem 1.5rem;
  margin: 1rem 0;
  border-radius: 8px;
}

.textBox {
  padding-block: 1em !important;
  box-shadow: var(--compat-shadow);
}