.gridWrapper {
    display: grid;
}

.titleGrid {
    grid-template-columns: 50% 50%;
}

.gridItem {
    transition: background 75ms ease-in-out;
    padding: .4em;
    margin-block: .1em;
    margin-left: -.4em;
    border-radius: 14px;

    &:nth-child(odd) {
        padding-right: 1em;
    }

    &:hover {
        background: var(--c-bg-navbar-item);
    }
}

@media (min-width: 701px) {
    .gridItem:nth-child(odd) {
        width: calc(100% - 1.5em);
    }
    .gridItem:nth-child(even) {
        width: calc(100% + .4em);
    }
}

@media (max-width: 700px) {
    .titleGrid {
        grid-template-columns: 100%;
    }

    .gridItem:nth-child(odd) {
        padding-right: 0;
    }
}

.iconGrid {
    grid-template-columns: calc(64px + 4px + 2px + .5em) auto;
}

.gridComment {
    color: var(--c-text-grey);
    overflow-y: hidden;
}