
.navbarWrapper {
    background-color: rgba(var(--c-bg-rgb), 0.7);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: var(--shadow);
    height: var(--navbar-height);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}