.tab-container {
	display: flex;
	flex-wrap: wrap;
}

.tab-container section {
	display: contents;
}

.tab-container section > input {
	display: none;
}

.tab-container section label {
	border: 1px solid var(--c-border);
	border-bottom-width: 0;
	padding: 0.5rem 1rem;
	transition: 150ms ease;
	cursor: pointer;
}

.tab-container .tab {
	display: none;
	padding: 1rem 1rem 1rem 1rem;
	order: 999;
	width: 100%;
	border: 1px solid var(--c-border);
}

@media screen and (min-width: 576px) {
	.tab-container section html:not([dir=rtl]) & &:not(:first-of-type) .tab-link {
		border-left-width: 0px;
	}

	.tab-container section html:not([dir=rtl]) & &:first-of-type .tab-link {
		border-top-left-radius: 0.25rem;
	}

	.tab-container section html:not([dir=rtl]) & &:last-of-type .tab-link {
		border-top-right-radius: 0.25rem;
	}

	.tab-container section html[dir=rtl] & &:not(:first-of-type) .tab-link {
		border-right-width: 0px;
	}

	.tab-container section html[dir=rtl] & &:first-of-type .tab-link {
		border-top-right-radius: 0.25rem;
	}

	.tab-container section html[dir=rtl] & &:last-of-type .tab-link {
		border-top-left-radius: 0.25rem;
	}
	
	.tab-container .tab {
		border-radius: 0 0.25rem 0.25rem 0.25rem;
	}

	.tab-container .tab html[dir=rtl] & {
		border-radius: 0.25rem 0 0.25rem 0.25rem;
	}
}

@media screen and (max-width: 575px) {
	.tab-container section .tab-link {
		width: 100%;
	}

	.tab-container section & &:last-of-type .tab-link {
		border-bottom-width: 1px;
		border-radius: 0 0 0.25rem 0.25rem;
	}

	.tab-container section & &:first-of-type .tab-link {
		border-radius: 0.25rem 0.25rem 0 0 !important;
	}

	.tab-container .tab {
		border-radius: 0;
		border-bottom-width: 0;
		order: 0;
	}

	.tab-container .tab-last {
		border-bottom-width: 1px;
		border-radius: 0 0 0.25rem 0.25rem;
	}
}

.tab-container input:checked + label {
	border-radius: 0;
}

.tab-container input:checked + label + .tab {
	display: block;
}

.tab-container input:checked + label:not(:hover):not(:active):not(:focus) {
	background-color: var(--c-border);
	border-color: var(--c-border);
}

.tab-container label:hover, label:active, label:focus {
	background-color: var(--c-border-dark);
	border-color: var(--c-border-dark);
}