$brand: #30bcd5;
$background: #f6f6f6;
$dm-background: #22272e;
$text: #2c3e50;
$dm-text: #adbac7;
$container-background: #e6edef;
$dm-container-background: #2b313a;

$perfect: #4caf50;
$playable: #039be5;
$runs: #fbc02d;
$loads: #ab47bc;
$unplayable: #f44336;

:root {
    --c-brand: #{$brand};
    --c-brand-hover: #{mix($brand, black, 80%)};
    --c-navbar-hover: #{mix($brand, black, 80%)};

    --c-bg: #{$background};
    --c-bg-light: #{mix($background, black, 99%)};
    --c-bg-search: #{mix($background, white, 20%)};
    --c-bg-code: #{mix($background, black, 97%)};
    --c-bg-navbar-item: #{mix($background, black, 96%)};

    --c-text: #{$text};
    --c-text-grey: #{mix($text, white, 80%)};
    --c-text-code: var(--c-text-grey);

    --c-border: #{mix($text, white, 15%)};
    --c-border-dark: #{mix($text, white, 10%)};

    --c-container-bg: #{$container-background};
    --c-container-border: var(--c-container-bg);
    
    --shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    --compat-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    --navbar-height: 55px;
    --footer-height: 137px;

    --c-perfect: #{$perfect};
    --c-playable: #{$playable};
    --c-runs: #{$runs};
    --c-loads: #{$loads};
    --c-unplayable: #{$unplayable};

    --c-container-bg-perfect: #{rgba($perfect, .2)};
    --c-container-bg-playable: #{rgba($playable, .2)};
    --c-container-bg-runs: #{rgba($runs, .2)};
    --c-container-bg-loads: #{rgba($loads, .2)};
    --c-container-bg-unplayable: #{rgba($unplayable, .2)};
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-navbar-hover: hsl(189, 70%, 65%);

        --c-bg: #{$dm-background};
        --c-bg-light: #{mix($dm-background, black, 99%)};
        --c-bg-lighter: #{mix($dm-container-background, white, 98%)};
        --c-bg-search: var(--c-bg-code);
        --c-bg-code: #{mix($dm-background, white, 97%)};
        --c-bg-navbar-item: #{mix($dm-background, white, 96%)};

        --c-text: #{$dm-text};
        --c-text-grey: #{mix($dm-text, black, 75%)};
        --c-text-code: #{mix($dm-text, black, 85%)};

        --c-border: #{mix($dm-container-background, white, 92%)};
        --c-border-dark: #{mix($dm-container-background, white, 87%)};

        --c-container-bg: #{$dm-container-background};
        --c-container-border: var(--c-container-bg);
        --shadow: 0;
        --compat-shadow: 0;

        --c-container-bg-perfect: #{rgba($perfect, .6)};
        --c-container-bg-playable: #{rgba($playable, .6)};
        --c-container-bg-runs: #{rgba($runs, .6)};
        --c-container-bg-loads: #{rgba($loads, .6)};
        --c-container-bg-unplayable: #{rgba($unplayable, .6)};
    }
}